* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
}

.input {
    padding: 1rem;
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.input:focus {
    outline: none;
}

.submit {
    visibility: hidden;
}

#fullscreen-bg__video {
	position: fixed;
	top: 50%;
	left: 50%;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	opacity: .9;
}

.output {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 20%;
    height: auto;
}
